

/* removed list item dots */
ul {
  list-style-type: none;
}

/* change the profile image to fit in the circle */
.image1 {
    max-width: 250px;
    max-height: 250px;
}

/* added background color */
.background{
  background-color: #8bc34a;
}
