/* image size bug */
/* center image to page  */
.imageSize  {
    border: 1px solid #ddd;
    object-fit: scale-down;
    max-height: 500px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* removed list item dots */
ul {
  list-style-type: none;
}
